<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157924803305-hm9cu7t1vcdhjuk5t3s0efo3edarvp3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157924803305-hm9cu7t1vcdhjuk5t3s0efo3edarvp3u</string>
	<key>API_KEY</key>
	<string>AIzaSyDK-nkh2ncSPjeYkRvZvO45c6SNCiN-RLs</string>
	<key>GCM_SENDER_ID</key>
	<string>157924803305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techdash.racingNews</string>
	<key>PROJECT_ID</key>
	<string>racing-news-566fd</string>
	<key>STORAGE_BUCKET</key>
	<string>racing-news-566fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157924803305:ios:ed5fd842666054636b6678</string>
	<key>DATABASE_URL</key>
	<string>https://racing-news-566fd-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>